/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Open Sans', sans-serif; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* body {
    width: 1200px;
} */

button {
    cursor: pointer;
}

.head {
    width: 100%;
    background-color: black;
}

.tan {
    position: relative;
    width: 100%;
}

/* HEADER */

.header {
    width: 1205px;
    /* width: 1519.2px; */
    display: flex;
    background-color: black;
    color: #fff;
    height: 40px;
    margin: 0 159.6px;
}

.sale-address {
    width: 120px;
    float: left;
    margin-left: 10px;
    clear: none;
    padding: 0;
}

.sale {
    width: 120px;
    height: 17.6px;
    padding-top: 3px;
    padding-bottom: -3px;
    font-size: 11px;
    /* color: #fff; */
}

.address {
    width: auto;
    font-size: 11px;
    position: relative;
    color: #ffe500;
}

.input-header {
    width: 200px;
    margin: 5px 10px 0;
    position: relative;
    /* display: flex; */
    float: left;
}

.input-item {
    height: 26.5px;
    border-right: #fff;
    border-color: black;
    font-size: 13px;
    /* border-radius: 4px; */
}

.click-input {
    margin-left: 0;
    padding-left: 0;
    position: absolute;
    border-left: #fff;
    height: 30.5px;
    width: 30px;
    border-color: black;
    /* border-radius: 4px; */
    /* left: 156px; */
}

.somethings {
    display: flex;
    margin: 4px 0;
    font-size: 12px;
    line-height: 1.3;
}

.cart {
    width: 97px;
    height: 30px;
    /* float: left; */
    /* margin: 4px 0; */
    border: 1px solid #8f8f8f;
    display: flex;
    /* box-sizing: border-box;
    text-align: center; */
    border-radius: 4px;
    /* font-size: 12px; */
}

.cart:hover {
    background-color: rgba(255,255,255,.4);;
}

.img-cart {
    /* margin-right: 5px; */
    margin: 5px 5px;
    text-align: center;
}

.cart p {
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #fff;
}

.history {
    width: 75px;
    height: 30.4px;
    /* font-size: 12px; */
    margin: 0 5px;
    /* line-height: 1.3; */
    /* display: inline-block; */
    /* vertical-align: middle; */
    text-align: center;
    color: #fff;
}

.point {
    /* display: flex; */
    width: 190px;
    height: 36px;
    padding: 0 0 0 40px;
    border-left: 1px solid #232323;
    /* margin-left: 0;
    margin-bottom: 0; */
    color: #FFE66B;
}

.point-item {
    display: flex;
    width: 187.337px;
    height: 30.4px;
    /* line-height: 1.3; */
}

.point-item img {
    width: 82px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    /* text-align: center; */
    /* box-sizing: border-box; */
    margin: 8.1px 0 0 0;
}

.point-item p {
    width: 100px;
    height: 30.4px;
    margin-left: 2px;
}

.other-selection {
    display: flex;
}

.other-item {
    border-left: 1px solid #232323;
    padding: 0 10px;
    text-align: center;
    line-height: 32px;
    color: #fff;
    margin: 0 1px;
}

.other-item:hover {
    background-color: #fff;
    color: black;
}

.item1 {
    width: 58.725px;
    height: 30px;
    padding: 6px 21px 0;
    /* border-left: 1px solid #232323; */
    line-height: 1.0;
}

.item2 {
    width: 41.362px;
    height: 36px;
    padding: 0 21px;
    /* border-left: 1px solid #232323; */
}

.item3 {
    width: 56.712px;
    height: 36px;
    padding: 0 21px;
    /* border-left: 1px solid #232323; */
}

/* after-header */

.after {
    background-color: #FED101;
    /* width: 100%; */
    /* width: 1519.2px; */
}

.after-header {
    display: flex;
    font-size: 15px;
    width: 1215px;
    height: 40px;
    margin: 0 150px;
    background-color: #FED101;
}

.after-header a {
    display: flex;
    height: 40px;
    /* margin: 12px 0; */
    padding: 0 12px;
    border: 0;
    color: #000;
    /* text-align: center; */
    vertical-align: middle;
    flex-wrap: nowrap;
}

.after-header a:hover {
    background-color: #fff;
}

.after-header p {
    margin: 12px 0;
}

.after-header figure {
    margin: 10px 5px 0 0;
}

.after-item1 {
    width: 81.6px;
}

.after-item2 {
    width: 72px;
}

.after-item3 {
    width: 58.4px;
}

.after-item4 {
    width: 99.2px;
}

.after-item5 {
    width: 136px;
}

.after-item6 {
    width: 145.6px;
}

.after-item7 {
    width: 97px;
}

.after-item8 {
    width: 84.8px;
}

.after-item9 {
    width: 82.4px;
}

.after-item10 {
    width: 120px;
}

/* slider */

.slider {
    width: 800px;
    height: 300px;
    margin: 10px 12px 0 159.6px;
    overflow: hidden;
    display: flex;
}

.slider figure {
    position: relative;
    width: 800%;
    height: 100%;
    font-size: 0;
    /* text-align: left; */
    /* margin: 0; */
    /* left: 0; */
    animation: 40s run infinite;
}

.slider img {
    /* width: 800px; */
    width: 12.5%;
    height: 100%;
}

@keyframes run {
    0% { left: 0;}
    12.5% { left: 0;}
    14.6% { left: -100%;}
    25% { left: -100%;}
    27.1% { left: -200%;}
    37.5% { left: -200%;}
    39.6% { left: -300%;}
    50% { left: -300%;}
    52.1% { left: -400%;}
    62.5% { left: -400%;}
    64.6% { left: -500%;}
    75% { left: -500%;}
    77.1% { left: -600%;}
    87.5% { left: -600%;}
    89.6% { left: -700%;}
    98% { left: -700%;}
    100% { left: 0;}
}

/* information */

.inf {
    width: 790px;
    /* display: flex; */
    overflow: hidden;
    margin-left: 159.6px;
}

.information {
    display: flex;
    /* position: relative; */
    width: 161.5%;
    height: 54.4px;
    /* overflow: hidden; */
    /* margin-left: 159.6px; */
    /* border-bottom: 0.5px solid #999; */
}

/* .information h3 {
    width: 154.4px;
    height: 54.4px;
    font-size: 13px;
    line-height: 1.3;
    margin: 0 5px;
    text-align: center;
} */

.information p {
    width: 154.4px;
    height: 54.4px;
    font-size: 14px;
    line-height: 1.3;
    margin: 9px 2px;
    text-align: center;
    font-weight: 400;
    /* animation: 40s infor infinite; */
    border-right: 0.5px solid #999;
}

/* news */

.news {
    width: 33.2%;
    height: 354px;
    /* overflow: hidden; */
    float: right;
    position: absolute;
    left: calc(159.6px + 12px + 800px);
    top: 90px;
}

.news figure {
    background: linear-gradient(90deg, rgb(197, 35, 35), rgb(5, 146, 5));
    width: 398.4px;
}

.news h2 {
    height: 25px;
    width: 309.962px;
    padding: 10px 20px 10px 10px;
}

.news h2 a {
    color: #fdd504;
}

.news ul {
    width: 398.4px;
    border-bottom: 1px solid #ededed;
    padding: 10px 10px 5px 10px;
    position: relative;
}

.news li a {
    display: flex;
    /* overflow: hidden; */
}

.news ul li a img {
    width: 100px;
    height: 57px;
    margin-right: 10px;
}

.news li a h3 {
    height: 36px;
    font-size: 16px;
    overflow: hidden;
    line-height: 1.1em;
    color: #333;
    margin: 0 0 5px 0;
}

.news li a span {
    float: left;
    font-size: 14px;
    margin-right: 10px;
    color: #999;
    position: absolute;
    bottom: 5px;
    left: 120px;
}

.img-news a img {
    margin-bottom: 5px;
}

